@import "tailwindcss";
@theme {
    --color-primary: #007bff;
    --color-error: #ff0000;
    --color-success: #28a745;
    --breakpoint-sm: 375px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1440px;

}

@layer base {
    input[type='number']::-webkit-outer-spin-button,
    input[type='number']::-webkit-inner-spin-button,
    input[type='number'] {
        -webkit-appearance: none;
        margin: 0;
        -moz-appearance: textfield !important;
    }
}

body {
    font-family: Roboto, sans-serif;
}

@utility container {
    padding-inline: 16px;
    margin-inline: auto;

    @variant sm {
        padding-inline: 16px;
    }

    @variant md {
        padding-inline: 20px;
    }

    @variant xl {
        padding-inline: 40px;
    }
}



.td-class {
    @apply text-center px-8 py-4 text-gray-900
}

.tr-class {
    @apply flex flex-col mb-4 last-of-type:mb-0 md:table-row md:hover:bg-gray-400 bg-white max-[767.98px]:rounded-xl
}

